#contenedor{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    flex-flow: row nowrap;
    /* flex-grow: 1; */
    /* justify-content:  space-around; */
}
.caja{
    height: 200px;
    width: 200px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 72px;
    align-items: center;
    /* flex-grow: 1; */
    /* flex-shrink: 3; */
    /* flex-basis: 1; */
}